Django
django-allauth
requests
phonenumbers
pillow
pyotp
qrcode
stripe
djangorestframework
djangorestframework-simplejwt
gunicorn
whitenoise
requests
dj-rest-auth
django-allauth
PyJWT>=2.9.0
cryptography>=43.0.0
